<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="static/Aleph.gif">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title> title </title>
  </head>
  <body>
    <ul>
      <li><a class="active" href="{{url_for('thanks')}}">Home</a></li>
      <li><a href="{{url_for('sign_up')}}">Sign Up</a></li>
      <li><a href="{{url_for('messaging')}}">Send</a></li>
      <li><a href="{{url_for('messages')}}">Messages</a></li>
      <li><a href="{{url_for('wordbook')}}">Wordbook</a></li>
    </ul>
  	<h1> Log in </h1>
  	<p id="police"> Enter your name and password! </p>
      <form action="/" method='GET'>
        <input type="text" name="user_name" placeholder="name">
        <br>
        <input type="password" name="user_password" placeholder="password">
        <br>
        <br><br>
        <input type="submit" value="Log in">
      </form> 
    <br>


  </body>
</html>
