<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="static/Aleph.gif">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title> title </title>
  </head>
  <body>
    <ul>
      <li><a class="active" href="{{url_for('thanks')}}">Home</a></li>
      <li><a href="{{url_for('sign_up')}}">Sign Up</a></li>
      <li><a href="{{url_for('messaging')}}">Send</a></li>
      <li><a href="{{url_for('messages')}}">Messages</a></li>
    </ul>
  	<h1> Here are your messages! </h1>

  	<p id="police"> Aren't friends the best? </p>
    <br>
    {% for i in user_table%}
    <p> {{i.name}} </p>
    <br>
    {% endfor%}
    <a href="{{url_for('home_page')}}" class="button"> Go Home </a>

  </body>
</html>
