<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/static/css/styles.css">
      <title> title </title>
  </head>
  <body>
  	<header>
  		  <h1> Sign Up </h1>
  	</header>
  	<p id="police"> Enter your name password and email! </p>
      <form action="/thanks" method='POST'>
        <input type="text" name="user_name" placeholder="name">
        <br>
        <input type="password" name="user_password" placeholder="password">
        <br>
        <input type="text" name="user_email" placeholder="email">
        <br>
        <input type="submit" value="Sign Up!">
      </form> 
    <br>


  </body>
</html>
