<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="static/Aleph.gif">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title> title </title>
  </head>
  <body>
    <ul>
      <li><a class="active" href="{{url_for('thanks')}}">Home</a></li>
      <li><a href="{{url_for('sign_up')}}">Sign Up</a></li>
      <li><a href="{{url_for('messaging')}}">Send</a></li>
      <li><a href="{{url_for('messages')}}">Messages</a></li>
      <li><a href="{{url_for('wordbook')}}">Wordbook</a></li>
    </ul>
  	<h1> Oops! </h1>
    <p id="police"> This email is already taken!</p>
    <br>
    <a href="{{url_for('sign_up')}}" class="button"> Try Again </a>

  </body>
</html>
