<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="static/Aleph.gif">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title> title </title>
  </head>
  <body>
    <ul>
      <li><a class="active" href="{{url_for('thanks')}}">Home</a></li>
      <li><a href="{{url_for('sign_up')}}">Sign Up</a></li>
      <li><a href="{{url_for('messaging')}}">Send</a></li>
      <li><a href="{{url_for('messages')}}">Messages</a></li>
      <li><a href="{{url_for('wordbook')}}">Wordbook</a></li>
    </ul>
    <div>

  	 <h1> Useful Words </h1>

  	 <h3> אבטיח - شمام </h3>
    </div>

  </body>
</html>
